<main class="container mx-auto px-5">
  <h1
    class="text-3xl font-bold underline py-8"
    title="Weather data refreshes every 5 minutes"
  >
    RexWeather
  </h1>

  <div class="flex flex-col md:flex-row gap-8 items-start">
    @for (cityWeatherRes of data$| async; track cityWeatherRes.id) {
    <app-city-view [cityWeather]="cityWeatherRes" />
    <div></div>
    } @empty {
    <div class="flex flex-col md:flex-row gap-8 animate-pulse">
      @for (item of myCities; track $index) {
      <div
        class="bg-gray-50 border rounded p-4 min-w-60 w-full h-[310px] flex flex-col gap-2"
      >
        <div class="bg-gray-200 w-48 h-5 rounded-sm"></div>
        <div class="bg-gray-200 w-32 h-3.5 rounded-sm"></div>
        <div class="bg-gray-200 size-10 mt-4 mx-auto rounded-full"></div>

        <div class="flex flex-row justify-center mt-6 min-h-16">
          <div class="w-1/2 h-full rounded-sm bg-gray-200"></div>
          <div class="w-1/2 flex flex-col items-center ml-6 gap-2">
            <div class="bg-gray-200 w-full h-4 rounded-sm"></div>
            <div class="bg-gray-200 w-full h-3 rounded-sm"></div>
            <div class="bg-gray-200 w-full h-3 rounded-sm"></div>
          </div>
        </div>

        <div class="flex flex-row justify-between mt-6 gap-3">
          <div class="w-full flex flex-col gap-1.5">
            <div class="bg-gray-200 w-full h-4 rounded-sm"></div>
            <div class="bg-gray-200 w-full h-3 rounded-sm"></div>
          </div>
          <div class="w-full flex flex-col gap-1.5">
            <div class="bg-gray-200 w-full h-4 rounded-sm"></div>
            <div class="bg-gray-200 w-full h-3 rounded-sm"></div>
          </div>
          <div class="w-full flex flex-col gap-1.5">
            <div class="bg-gray-200 w-full h-4 rounded-sm"></div>
            <div class="bg-gray-200 w-full h-3 rounded-sm"></div>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</main>
